.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table, tr, th, td {
  border: 1px solid #000;
  padding: 10px 20px;
  text-transform: capitalize;
  text-align: center;
}